@{
    Layout = null; 
}
<div class="forbidden">
    <div class="text">
        FORBIDDEN
    </div>
</div>
<div class="text-403">4003</div>

<div class="door"></div>
<div id="hodor">
    <div class="l-arm">
        <div class="hand"></div>
        <div class="arm"></div>
    </div>
    <div class="r-arm">
        <div class="hand"></div>
        <div class="arm"></div>
    </div>
    <div class="body">
        <div class="backpack-strap-r"></div>
        <div class="backpack-strap-l"></div>
    </div>
    <div class="belt"></div>
    <div class="head">
        <div class="hair"></div>
        <div class="face"></div>
        <div class="r-eye"></div>
        <div class="l-eye"></div>
        <div class="r-brow"></div>
        <div class="l-brow"></div>
        <div class="beard"></div>
        <div class="bubble">H0D0R!</div>
    </div>
    <div class="l-leg">
        <div class="foot"></div>
    </div>
    <div class="r-leg">
        <div class="foot"></div>
    </div>
</div>